.container-person-add {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.title-person {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.form-container {
  body {
    font-family: "Roboto", sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
  }

  .title-person {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }

  .form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    flex: 1;
    margin: 0 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus {
    border-color: #3b82f6;
    outline: none;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  margin: 0 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
  border-color: #3b82f6;
  outline: none;
}

.btn-person {
  width: 100%;
  padding: 15px;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.btn-person:hover {
  background-color: #fff;
  color: #3b82f6;
  border: 1px solid #3b82f6;
}
