.supplier-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.supplier-card {
  background-color: #ffffff;
  padding: 20px;
  width: calc(33% - 20px);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.supplier-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.supplier-card h3 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 15px;
}

.supplier-card p {
  font-size: 1.1rem;
  color: #7f8c8d;
  margin-bottom: 15px;
}


.btn-supplier-delete {
  padding: 8px 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease-in;
}

.btn-supplier-delete:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
  }
  .main-content {
    margin-left: 0;
  }
  .supplier-card {
    width: 100%;
  }
}
